.room-title {
  color: #7b6549;
  font-weight: 700;
}
.guest-count {
  font-style: italic;
  color: #9b9288;
  text-align: center;
}
.child-count {
  margin-left: 10px;
}
.adult-count {
  margin-left: -10px;
}
.room-breakdown {
  background-color: #4a453f;
  padding: 10px;
  margin-left: -20px;
  margin-bottom: 10px;
}
