.bg-form {
  height: 733px;
  width: 100%;
  position: relative;
  background: url("../../img/showcase.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin: 0;
}
